# Redis VSS PY Demo Example .env file.
REDIS_URL=redis://localhost:6379/?decode_responses=True
DATASET_BASE = "~/fashion-dataset"
REDIS_INDEX = "idx:fashion"
KEY_PREFIX = "fashion"
DEMO_PRODUCTS = "[17445,47359,26538,16957,35574]"